

.common__section{
    background: linear-gradient(rgba(0,0,0,0.562), rgba(0,0,0,0.562)),
    url('../../Assets/images/bedroom.jpg') no-repeat center center;
    background-size: cover; 
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.common__container h1{
   color: #fff;
   font-weight: 600;
   text-align: center;
}

