
.check__container{
    width: 100%;

}

.check__row{
    width: 80%;
    margin: auto;
    display: grid;
     grid-template-columns: 60% 35%;
     gap: 5%;
     align-items: center;
}

.check__col{
    width: 100%;
}


.check__form{
    margin-top: .8rem;
}
.check__form input{
    width: 100%;
    margin-top: .7rem;
    border: 2px solid var(--primary-color);
    padding: .6rem;
    border-radius: 5px;
}


.checkout__cart h5, h3{
    margin:  .5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout__cart{
    padding: 20px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 10px;
}

.checkout__btn{
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: bold;
    background: #fff;
    color:  var(--primary-color);
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1.5rem;
}



@media (max-width: 768px) {
    .check__row{
        display: grid;
        grid-template-columns: 100%;
    }

    
}
