.shop__container {
  width: 100%;
}
.shop__row {
  width: 80%;
  margin: auto;
  align-items: center;

  display: grid;
  grid-template-columns: 25% 25% 50%;
}

.shop__col {
  width: 100%;
}

.filter__widget select {
  padding: 8px 20px;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  border-radius: 5px;
  background: var(--primary-color);
  color: #fff;
}

.filter__widget select:focus {
  outline: none !important;
}

.filter__widget select option {
  font-size: 0.9rem;
}

.search__box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  padding-right: 12px;
  padding-left: 2px;
  cursor: pointer;
}

.search__box input {
  width: 100%;
  outline: none;
  border: none;
  padding: 8px 10px;
}

.search__box span{
    color: var(--primary-color);
}


.sec__data{
    padding-top: 0;
}
.data__container{
    width: 100%;
    height: auto;
}
.data__row{
    width: 80%;
    margin: auto;
}


.heading__change{
    font-size: 20px;
    text-align: center;
}
